.box-gallery,
.box-gallery div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

.box-gallery .box-panel {
  z-index: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.box-gallery,
.box-gallery .bg-tile,
.box-gallery .bg-img {
  overflow: hidden;
}

.box-gallery .bg-tile {
  width: 50%;
  height: 50%;
}

.box-gallery img {
  position: absolute;
  top: 0;
  left: 0;
}

.box-gallery .bg-img {
  background: #999;
}

.box-gallery .bg-img img {
  display: block;
  height: 200%;
}

.box-gallery .bg-tile:nth-child(2),
.box-gallery .bg-tile:nth-child(4) {
  left: 50%;
}

.box-gallery .bg-tile:nth-child(3),
.box-gallery .bg-tile:nth-child(4) {
  top: 50%;
}

.box-gallery .bg-tile:nth-child(2) .bg-img img,
.box-gallery .bg-tile:nth-child(4) .bg-img img {
  left: -100%;
}

.box-gallery .bg-tile:nth-child(3) .bg-img img,
.box-gallery .bg-tile:nth-child(4) .bg-img img {
  top: -100%;
}

@media screen and (min-aspect-ratio: 1546/1067) {
  .box-gallery .bg-img img {
    width: 200%;
    height: auto;
  }
}

.box-gallery .box-panel.current {
  z-index: 2;
}

.box-gallery .box-panel.current .bg-img {
  -webkit-transition: -webkit-transform 1.1s ease-in-out;
  transition: transform 1.1s ease-in-out;
}

.box-gallery .box-panel.active {
  z-index: 1;
}

.box-gallery.effect-1 .box-panel.active .bg-tile,
.box-gallery.effect-2 .box-panel.active .bg-tile {
  -webkit-animation: scaleDown 1.1s ease-in-out;
  animation: scaleDown 1.1s ease-in-out;
}

@-webkit-keyframes scaleDown {
  from {
    -webkit-transform: translate3d(0, 0, 380px);
    transform: translate3d(0, 0, 380px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scaleDown {
  from {
    -webkit-transform: translate3d(0, 0, 380px);
    transform: translate3d(0, 0, 380px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.box-gallery.effect-2 .box-panel.current .bg-img {
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.9s cubic-bezier(0.7, 0, 0.3, 1);
}

.box-gallery.effect-2 .box-panel.current .bg-tile:nth-child(2) .bg-img {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.box-gallery.effect-2 .box-panel.current .bg-tile:nth-child(3) .bg-img {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.box-gallery.effect-2 .box-panel.current .bg-tile:nth-child(4) .bg-img {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

.box-gallery.effect-3 .box-panel::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  content: '';
  transition: opacity 1.1s ease-in-out;
}

.box-gallery.effect-3 .box-panel.current::after,
.box-gallery.effect-3 .box-panel.active::after {
  opacity: 0;
}

.box-gallery.effect-3 .box-panel.current::after {
  transition: none;
}

.box-gallery.effect-3 .box-panel.current .bg-img {
  transition: transform 1.1s cubic-bezier(0.7, 0, 0.3, 1);
}

.box-gallery.effect-3 .box-panel.current .bg-tile:nth-child(2) .bg-img {
  transition-delay: 0.15s;
}

.box-gallery.effect-3 .box-panel.current .bg-tile:nth-child(3) .bg-img {
  transition-delay: 0.3s;
}

.box-gallery.effect-3 .box-panel.current .bg-tile:nth-child(4) .bg-img {
  transition-delay: 0.45s;
}
